<div class="ui center aligned container">
  <p>Current server time is <%= Time.now %></p>
  <div class="ui file input">
    <input type="file" data-direct-upload-url="<%= rails_direct_uploads_url %>" />
  </div>
</div>

