<div class="ui center aligned container">
  <p>Current server time is <%= Time.now %></p>
  <div class="ui file input">
    <input type="file" data-direct-upload-url="<%= rails_direct_uploads_url %>" />
  </div>
</div>

<h2>Display</h2>
<div class="ui three column stackable grid">
  <% 3.times do %>
    <div class="column">
      <div class="ui segment">
        <p></p>
      </div>
    </div>
  <% end %>
</div>
