.code-index-data
  display: none

.code-index-card
  font-family: Consolas, monospace

.dropdown-container
  position: relative

#card-dropdown
  position: absolute
  padding: 10px 20px
  top: 3px
  right: 10px

pre
  white-space: pre-wrap