<div class="ui stackable menu">
  <%= link_to "Home", root_path, class: "item" %>
  <%= link_to "About", about_path, class: "item" %>

  <div class="ui dropdown item" data-controller="navmenu">
    Guest
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/users">Profile</a>
      <a class="item" href="/users/sign_in">Sign In</a>
      <a class="item" href="/users/sign_up">Sign Up</a>
    </div>
  </div>

  <div class="right menu">
    <div class="item">
      <%= form_with url: search_path,
                    method: :get,
                    class: 'ui icon input',
                    id: 'navsearch-form' do |form| %>
        <%= form.text_field :query, placeholder: "Search...", id: 'navsearch-content' %>
        <!-- input type="text" placeholder="Search..." -->
        <i class="search link icon"
           id='navsearch-submit'
           data-controller="navsearch"
           data-action="click->navsearch#search"
           data-submit-link-form-target="navsearch"
        ></i>
      <% end %>
    </div>
  </div>
</div>
